Predicting Housing Prices with Regularized Regression

You work for a real estate analytics firm, and your task is to build a predictive model to estimate house prices based on various features. You have a dataset containing information about houses, such as square footage, number of bedrooms, number of bathrooms, and other relevant attributes. In this case study, you'll explore the application of Lasso and Ridge regression to improve the predictive performance of the model:

In [1]:
import pandas as pd
data = pd.read_csv('Mumbai.csv')

In [2]:
data.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,Kharghar,1,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,Kharghar,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,Kharghar,1,1,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0

In [44]:
from sklearn.model_selection import train_test_split
X = data['Area'] 
y = data['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

In [3]:
data.shape

(7719, 40)

In [4]:
# Import necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Load your dataset (replace 'your_data.csv' with your data file)
data = pd.read_csv('Mumbai.csv')

# Select features and target variable
X = data[['No. of Bedrooms', 'SwimmingPool', 'JoggingTrack']]  
# Replace with your selected features
y = data['Price']  # Replace with your target variable

In [5]:
data.shape

(7719, 40)

In [6]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
data.shape

(7719, 40)

In [8]:
# Create a Lasso regression model
lasso = Lasso(alpha=1.0)  # You can adjust the alpha (regularization strength) as needed

In [9]:
# Fit the model on the training data
lasso.fit(X_train, y_train)

C:\Users\Samanta Patil\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.149e+18, tolerance: 2.505e+14
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [10]:
# Make predictions on the test data
y_pred = lasso.predict(X_test)

In [11]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 448908859566187.75

In [12]:
# You can also access the coefficients of the selected features
feature_coefficients = lasso.coef_
print("Feature Coefficients:", feature_coefficients)

Feature Coefficients: [  6385612.04730969  10505876.59458713 -10535025.81707078]

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv('data.csv')
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [3]:
X = data[['bedrooms', 'sqft_living', 'bathrooms']]  # Replace with your actual feature names
y = data['price']

In [4]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Implementing Ridge regression
alpha = 1.0  # Regularization strength (hyperparameter to be tuned)
ridge_model = Ridge(alpha=alpha)
ridge_model.fit(X_train, y_train)

# Making predictions on the test set
predictions = ridge_model.predict(X_test)

# Calculating mean squared error to evaluate the model
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error (Ridge Regression):", mse)

Mean Squared Error (Ridge Regression): 991203428484.8773

In [5]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import explained_variance_score
print('Mean Squared Error: \t', mean_squared_error(y_test, predictions))
print()
print()
print('Variance Score:\t',explained_variance_score (y_test,predictions))
print()
print('R_Square: \t', r2_score(y_test,predictions))

Mean Squared Error: 	 991203428484.8773


Variance Score:	 0.02923683642178354

R_Square: 	 0.028085516882509154

Diagnosing and Remedying Heteroscedasticity and Multicollinearity

In [45]:
import pandas as pd
data = pd.read_csv('.csv')

In [46]:
data

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [50]:
X = data[['ExperienceInCurrentDomain', 'Education', 'JoiningYear']]
y = data['LeaveOrNot']

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
data.shape

(4653, 9)

In [ ]:
# Implementing simple linear regression
model = LinearRegression()
model.fit(X_train, y_train)