1. Manipulate using a list.
i) To add new elements to the end of the list
ii) To reverse elements in the list
iii) To dislpay the same list of elements multiple times
iv) To concatenate two list
v) To sort the elements in the list in assending order

In [ ]:
lst=[2, 4, 6, 8, 'abc']
lst

In [62]:
#i) To add new elements to the end of the list
lst.append(10)  #append is used to add single elements at the end of the list
lst

#to add multiple elements-extent

lst.extend([11,12,13])
print('After added - lists elements are:\n', lst)
lst

After added - lists elements are:
 [65, 45, 36, 33, 10, 2, 10, 11, 12, 13]

[65, 45, 36, 33, 10, 2, 10, 11, 12, 13]

In [57]:
print('After added - lists elements are:\n', lst)
lst

After added - lists elements are:
 [2, 10, 33, 36, 45, 65]

[2, 10, 33, 36, 45, 65]

In [58]:
#ii) To reverse elements in the list

lst.reverse()
lst
lst

[65, 45, 36, 33, 10, 2]

In [73]:
#iii) To dislpay the same list of elements multiple times

lst=[7, 9, 11]
lst*3

[7, 9, 11, 7, 9, 11, 7, 9, 11]

In [83]:
#iv) To concatenate two list

lst1= [1, 2, 3]
lst2= [5, 6, 7]
res= lst1 + lst2
res

[1, 2, 3, 5, 6, 7]

In [65]:
#v) To sort the elements in the list in assending order

lst=[36, 33, 45, 65, 2, 10]
lst

[36, 33, 45, 65, 2, 10]

In [36]:
lst.sort()
lst

[2, 10, 33, 36, 45, 65]

2. Write a python program to do in the tuples
i) Manipulate using tuples.
ii) To add new elements to the end of the tuples
iii) To reverse elements in the list
iv) To display the elements of the same tuple multiple times.
v) To concatenate two tuples
vi) To sort the elements in the tuple in ascending order

In [39]:
tup=(12, 33.23, 'John')

In [41]:
#i) Manipulate using tuples
tup

(12, 33.23, 'John')

In [51]:
#ii) To add new elements to the end of the tuples

#we cannot add a new element to the tuple because tuple is immutable

In [70]:
#iii) To reverse elements in the list

tup=(1, 2, 3, 4)
reversed_tup=tup[::-1]
print(reversed_tup)
reversed_tup

(4, 3, 2, 1)

(4, 3, 2, 1)

In [74]:
#iv) To display the elements of the same tuple multiple times.

tup=(3, 5, 7)
tup*3

(3, 5, 7, 3, 5, 7, 3, 5, 7)

In [80]:
#v) To concatenate two tuples

tup1=(15, 64, 34)
tup2=(1, 7, 9, 12)
res= tup1 + tup2
res

(15, 64, 34, 1, 7, 9, 12)

In [87]:
#vi) To sort the elements in the tuple in ascending order

#we cannot sort the elementsin the tuple in ascending order because tuple is immutable

3. Write a python program to implement the following using list
i) Create a list with integers(minimum 10 numbers)
ii) How to display the last number in the list
iii) Command for displaying the values from the list[0:4]
iv) Command for displaying the values from the list[2:]
v) Command for displaying the values from the list[:6]

In [90]:
#i) Create a list with integers(minimum 10 numbers)

list=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [91]:
#ii) How to display the last number in the list

list[9]

19

In [92]:
#iii) Command for displaying the values from the list[0:4]

list[0:4]

[1, 3, 5, 7]

In [93]:
#iv) Command for displaying the values from the list[2:]

list[2:]

[5, 7, 9, 11, 13, 15, 17, 19]

In [94]:
#v) Command for displaying the values from the list[:6]

list[:6]

[1, 3, 5, 7, 9, 11]

4. Write a Python program: tuple1 = (10, 50, 20, 40, 30)
i) To display the elements 10 to 50 from tuple1
ii) To dispaly the length of a tuple1
iii) To find the minimum element from tuple1
iv) To add all elements in the tuple1
v) To display the same tuple1 multiple times

In [96]:
tuple1 = (10, 50, 20, 40, 30)
tuple1

(10, 50, 20, 40, 30)

In [113]:
#i) To display the elements 10 to 50 from tuple1

tuple1[0:2]

(10, 50)

In [114]:
#ii) To dispaly the length of a tuple1

len(tuple1)

5

In [119]:
#iii) To find the minimum element from tuple1

min(tuple1)

10

In [121]:
#iv) To add all elements in the tuple1

sum(tuple1)

150

In [122]:
#v) To display the same tuple1 multiple times

tuple1*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

5. Write a python program
i) To calculate the length of a string
ii) To reverse words in a string
iii) To display the same string multiplate times
iv) To concatenate two strings
v) Str1="South India", using string slicing to display "India"

In [1]:
Str1="South India"
Str1

'South India'

In [124]:
#i) To calculate the length of a string

len(Str1)

11

In [5]:
#ii) To reverse words in a string

Str1="South India"
reversed_Str1=Str1[::-1]
print(reversed_Str1)
reversed_Str1

aidnI htuoS

'aidnI htuoS'

In [8]:
#iii) To display the same string multiplate times

Str1*5

'South IndiaSouth IndiaSouth IndiaSouth IndiaSouth India'

In [10]:
#iv) To concatenate two strings

Str1="South India"
Str2="India"
res = Str1 + Str2
res

'South IndiaIndia'

In [12]:
#v) Str1="South India", using string slicing to display "India"

Str1="South India"
Str1[6:]

'India'

6. Perform the following :
i) Creating the Directory
ii) Accessing values and keys in the directory
iii) Updating the directory using a function
iv) Clear and delete the directory values

In [13]:
#i) Creating the Directory

student={'f_name':'Rahul','l_name':'Kulkarni','class':'8','city':'Mudhol'}

In [15]:
student

{'f_name': 'Rahul', 'l_name': 'Kulkarni', 'class': '8', 'city': 'Mudhol'}

In [18]:
#ii) Accessing values and keys in the directory

student.values()

dict_values(['Rahul', 'Kulkarni', '8', 'Mudhol'])

In [19]:
student.keys()

dict_keys(['f_name', 'l_name', 'class', 'city'])

In [21]:
#iii) Updating the directory using a function

student.update({'class': 7})
student

{'f_name': 'Rahul', 'l_name': 'Kulkarni', 'class': 7, 'city': 'Mudhol'}

In [34]:
#iv) Clear and delete the directory values

student.pop('city')

'Mudhol'

7. Python program to insert a number to any position in the list

In [37]:
list=[2, 4 , 6, 8, 10]
list

[2, 4, 6, 8, 10]

In [42]:
list.insert(2, 5)
list

[2, 4, 5, 5, 6, 5, 8, 10, 3, 3]

8. Python program to delete an element from a list by index

In [43]:
list=[1, 2, 3, 4, 5]

In [44]:
list

[1, 2, 3, 4, 5]

In [45]:
list.pop(2)

3

In [46]:
list

[1, 2, 4, 5]

9. Write a program to display a number from 1 to 100

In [48]:
for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

10. Write a Python program to find the sum of all items in a tuble

In [49]:
tup=(4,5,6,7,8)

In [50]:
tup

(4, 5, 6, 7, 8)

In [52]:
import math 
r=math.fsum(tup)
print("The sum of tuple elements is" + str(r))

The sum of tuple elements is30.0

12. A list of words is given. Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','You']

In [70]:
ls=['hello','Dear','hOw','ARe','You']
result = [word for word in ls 
          if len(word) >= 2 and word[1].isupper()]
print(result)

['hOw', 'ARe']