1. Manipulate using a list.
i) To add new elements to the end of the list
ii) To reverse elements in the list
iii) To dislpay the same list of elements multiple times
iv) To concatenate two list
v) To sort the elements in the list in assending order

In [ ]:
lst=[2, 4, 6, 8, 'abc']
lst

In [62]:
#i) To add new elements to the end of the list
lst.append(10)  #append is used to add single elements at the end of the list
lst

#to add multiple elements-extent

lst.extend([11,12,13])
print('After added - lists elements are:\n', lst)
lst

After added - lists elements are:
 [65, 45, 36, 33, 10, 2, 10, 11, 12, 13]

[65, 45, 36, 33, 10, 2, 10, 11, 12, 13]

In [57]:
print('After added - lists elements are:\n', lst)
lst

After added - lists elements are:
 [2, 10, 33, 36, 45, 65]

[2, 10, 33, 36, 45, 65]

In [58]:
#ii) To reverse elements in the list

lst.reverse()
lst
lst

[65, 45, 36, 33, 10, 2]

In [73]:
#iii) To dislpay the same list of elements multiple times

lst=[7, 9, 11]
lst*3

[7, 9, 11, 7, 9, 11, 7, 9, 11]

In [83]:
#iv) To concatenate two list

lst1= [1, 2, 3]
lst2= [5, 6, 7]
res= lst1 + lst2
res

[1, 2, 3, 5, 6, 7]

In [65]:
#v) To sort the elements in the list in assending order

lst=[36, 33, 45, 65, 2, 10]
lst

[36, 33, 45, 65, 2, 10]

In [36]:
lst.sort()
lst

[2, 10, 33, 36, 45, 65]

2. Write a python program to do in the tuples
i) Manipulate using tuples.
ii) To add new elements to the end of the tuples
iii) To reverse elements in the list
iv) To display the elements of the same tuple multiple times.
v) To concatenate two tuples
vi) To sort the elements in the tuple in ascending order

In [39]:
tup=(12, 33.23, 'John')

In [41]:
#i) Manipulate using tuples
tup

(12, 33.23, 'John')

In [51]:
#ii) To add new elements to the end of the tuples

#we cannot add a new element to the tuple because tuple is immutable

In [70]:
#iii) To reverse elements in the list

tup=(1, 2, 3, 4)
reversed_tup=tup[::-1]
print(reversed_tup)
reversed_tup

(4, 3, 2, 1)

(4, 3, 2, 1)

In [74]:
#iv) To display the elements of the same tuple multiple times.

tup=(3, 5, 7)
tup*3

(3, 5, 7, 3, 5, 7, 3, 5, 7)

In [80]:
#v) To concatenate two tuples

tup1=(15, 64, 34)
tup2=(1, 7, 9, 12)
res= tup1 + tup2
res

(15, 64, 34, 1, 7, 9, 12)

In [87]:
#vi) To sort the elements in the tuple in ascending order

#we cannot sort the elementsin the tuple in ascending order because tuple is immutable

3. Write a python program to implement the following using list
i) Create a list with integers(minimum 10 numbers)
ii) How to display the last number in the list
iii) Command for displaying the values from the list[0:4]
iv) Command for displaying the values from the list[2:]
v) Command for displaying the values from the list[:6]

In [90]:
#i) Create a list with integers(minimum 10 numbers)

list=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [91]:
#ii) How to display the last number in the list

list[9]

19

In [92]:
#iii) Command for displaying the values from the list[0:4]

list[0:4]

[1, 3, 5, 7]

In [93]:
#iv) Command for displaying the values from the list[2:]

list[2:]

[5, 7, 9, 11, 13, 15, 17, 19]

In [94]:
#v) Command for displaying the values from the list[:6]

list[:6]

[1, 3, 5, 7, 9, 11]

4. Write a Python program: tuple1 = (10, 50, 20, 40, 30)
i) To display the elements 10 to 50 from tuple1
ii) To dispaly the length of a tuple1
iii) To find the minimum element from tuple1
iv) To add all elements in the tuple1
v) To display the same tuple1 multiple times

In [96]:
tuple1 = (10, 50, 20, 40, 30)
tuple1

(10, 50, 20, 40, 30)

In [113]:
#i) To display the elements 10 to 50 from tuple1

tuple1[0:2]

(10, 50)

In [114]:
#ii) To dispaly the length of a tuple1

len(tuple1)

5

In [119]:
#iii) To find the minimum element from tuple1

min(tuple1)

10

In [121]:
#iv) To add all elements in the tuple1

sum(tuple1)

150

In [122]:
#v) To display the same tuple1 multiple times

tuple1*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

5. Write a python program
i) To calculate the length of a string
ii) To reverse words in a string
iii) To display the same string multiplate times
iv) To concatenate two strings
v) Str1="South India", using string slicing to display "India"

In [1]:
Str1="South India"
Str1

'South India'

In [124]:
#i) To calculate the length of a string

len(Str1)

11

In [5]:
#ii) To reverse words in a string

Str1="South India"
reversed_Str1=Str1[::-1]
print(reversed_Str1)
reversed_Str1

aidnI htuoS

'aidnI htuoS'

In [8]:
#iii) To display the same string multiplate times

Str1*5

'South IndiaSouth IndiaSouth IndiaSouth IndiaSouth India'

In [10]:
#iv) To concatenate two strings

Str1="South India"
Str2="India"
res = Str1 + Str2
res

'South IndiaIndia'

In [12]:
#v) Str1="South India", using string slicing to display "India"

Str1="South India"
Str1[6:]

'India'

6. Perform the following :
i) Creating the Directory
ii) Accessing values and keys in the directory
iii) Updating the directory using a function
iv) Clear and delete the directory values

In [13]:
#i) Creating the Directory

student={'f_name':'Rahul','l_name':'Kulkarni','class':'8','city':'Mudhol'}

In [15]:
student

{'f_name': 'Rahul', 'l_name': 'Kulkarni', 'class': '8', 'city': 'Mudhol'}

In [18]:
#ii) Accessing values and keys in the directory

student.values()

dict_values(['Rahul', 'Kulkarni', '8', 'Mudhol'])

In [19]:
student.keys()

dict_keys(['f_name', 'l_name', 'class', 'city'])

In [21]:
#iii) Updating the directory using a function

student.update({'class': 7})
student

{'f_name': 'Rahul', 'l_name': 'Kulkarni', 'class': 7, 'city': 'Mudhol'}

In [34]:
#iv) Clear and delete the directory values

student.pop('city')

'Mudhol'

7. Python program to insert a number to any position in the list

In [37]:
list=[2, 4 , 6, 8, 10]
list

[2, 4, 6, 8, 10]

In [42]:
list.insert(2, 5)
list

[2, 4, 5, 5, 6, 5, 8, 10, 3, 3]

8. Python program to delete an element from a list by index

In [43]:
list=[1, 2, 3, 4, 5]

In [44]:
list

[1, 2, 3, 4, 5]

In [45]:
list.pop(2)

3

In [46]:
list

[1, 2, 4, 5]

9. Write a program to display a number from 1 to 100

In [48]:
for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

10. Write a Python program to find the sum of all items in a tuble

In [49]:
tup=(4,5,6,7,8)

In [50]:
tup

(4, 5, 6, 7, 8)

In [52]:
import math 
r=math.fsum(tup)
print("The sum of tuple elements is" + str(r))

The sum of tuple elements is30.0

11.Create a directory containing three lambda  function square,cube and square root
i) Eg dict = {'Square':function for squaring,'cube':function for cube,'Squareroot':function for square root}
ii) Pass the values (input from the user) to the functions in the directory respectively
iii) Then add the outputs of each function and print it

In [54]:
#Create a directory containing three lambda function square,cube and square root

12. A list of words is given. Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','You']

In [70]:
ls=['hello','Dear','hOw','ARe','You']
result = [word for word in ls 
          if len(word) >= 2 and word[1].isupper()]
print(result)

['hOw', 'ARe']

13.A directory of names and their weights on earth is given. Find how much they will weigh on the moon.(Use map and lambda functions)
Formula : wMoon=(wEarth*GMoon)/GEarth
i #Weight of people in kg
WeightOnEarth= {'John':45, 'Shelly':65, 'Marry:35}
ii) #Gravitational force on the Moon:1.622m/s²
GMoon=1.622
iii) # Gravitational force on the Earth: 9.81m/s²
GEarth=9.81

In [71]:
weightonearth = {'john': 45, 'shelly': 65, 'marry': 35}
gmoon = 1.622
gearth = 9.81

weightonmoon = list(map(lambda person: (person[0], (person[1] * gmoon) / gearth), weightonearth.items()))
for name, weight in weightonmoon:
    print(f"{name}'s weight on the moon: {weight:.2f} kg")

TypeError: 'list' object is not callable

1.Write a python program to find the first N Prime numbers

In [72]:
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N:11
First 11 Prime numbers are:2 3 5 7 11 13 17 19 23 29 31

2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA and DA.
Add these components to calculate the Gross Salary. Also,deduct 10%of salary from the Gross Salary to be paid as tax and display
gross minus tax as net salary.

In [101]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

gross_salary = basic_salary + hra + ta + da

tax = 0.10 * gross_salary

net_salary = gross_salary - tax

print(f"Gross Salary: {gross_salary}")
print(f"Tax Deduction (10%): {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 5000
Enter HRA: 1000
Enter TA: 500
Enter DA: 800
Gross Salary: 7300.0
Tax Deduction (10%): 730.0
Net Salary: 6570.0

3. Write a python program to search for a string in the given list

In [82]:

l = [1, 2.0, 'have', 'a', 'gala', 'day']
s = 'gala' 
 

if s in l:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

gala is present in the list

4. Write a python function that accepts a string and calculate the number of upper case letters and lower case letters

In [80]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

5. Write a python program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [86]:

sum_even = 0
sum_odd = 0


for num in range(12, 37):
   
    if num % 2 == 0:
        sum_even += num
    else:
        sum_odd += num


print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 312
Sum of odd numbers: 288

6. Write a python Program to print the table of any number.

In [83]:
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables for:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7.Write a Python program to sum the first 10 prime numbers

In [85]:
def sumOfPrimes(n):
    
    prime = [True] * (n + 1)
     
    
    p = 2
    while p * p <= n:
        
        if prime[p] == True:
            
            i = p * 2
            while i <= n:
                prime[i] = False
                i += p
        p += 1   
          
    
    sum = 0
    for i in range (2, n + 1):
        if(prime[i]):
            sum += i
    return sum
 

n = 10
print(sumOfPrimes(n))

17

In [ ]:
8.Write a python program to implement arithmetic operations using nested if statement

In [87]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")


result = 0

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0: 
        result = num1 / num2
    else:
        print("Error: Division by zero")
else:
    print("Invalid operation")


print(f"Result: {result}")

Enter the first number: 6
Enter the second number: 4
Enter the operation (+, -, *, /): +
Result: 10.0

9. Write a Python Program to Take the temperature in celcius and convert it to Fahrenheit.

In [100]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 24
24.0 degrees Celsius is equal to 75.2 degrees Fahrenheit

10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [88]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

11. Write a Python Program to print out the number of seconds in 30 day month 30 days, 24 hours in a day, 
60 mins per day, 60 second per min.

In [90]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

# Calculate the total seconds
total_seconds = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

# Print the result
print(f"The number of seconds in a 30-day month is: {total_seconds} seconds")

The number of seconds in a 30-day month is: 2592000 seconds

12. Write a Python Program to print out the number of seconds in a year.

In [89]:
days = 365
hours = 24
mins = 60
secs = 60
secsInYear = days * hours * mins * secs
print("Number of seconds in a year =", secsInYear)

Number of seconds in a year = 31536000

13. A high speed train can travel at an avg speed of 150 mph, how long will it take a train travelling at this speed to
travel from Londen to Glasgow which is 414 miles away.

In [91]:
distance = 414  # miles
speed = 150  # mph

time = distance / speed
print(f"It will take {time} hours to travel from London to Glasgow.")

It will take 2.76 hours to travel from London to Glasgow.

14.Write a Python Program that defines a variable called days_in_each_school_year and assign 192 to variable.
The program should then print out the total hours that you spend in school from year 7 to year 11. if each day you 
spend 6 hours in school day_in_each_school_year = 192.

In [92]:
days_in_each_school_year = 192

total_hours_in_school = (days_in_each_school_year * 5)  
total_hours = total_hours_in_school * 6 

print("Total hours spent in school from year 7 to year 11:", total_hours)

Total hours spent in school from year 7 to year 11: 5760

15. If the ages of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest
and the youngest of the three.

In [93]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest = max(ram_age, sam_age, khan_age)

youngest = min(ram_age, sam_age, khan_age)

print(f"The eldest among them is {eldest} years old.")
print(f"The youngest among them is {youngest} years old.")

Enter Ram's age: 45
Enter Sam's age: 23
Enter Khan's age: 53
The eldest among them is 53 years old.
The youngest among them is 23 years old.

16.Write a python program to rotate a list by the right n times with and without slicing technique.

In [99]:
def rotate_list_with_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of list length
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
rotation_count = 2
result = rotate_list_with_slicing(my_list, rotation_count)
print(result)

[4, 5, 1, 2, 3]

In [98]:
def rotate_list_without_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of list length
    rotated_list = [0] * len(lst)
    for i in range(len(lst)):
        rotated_list[(i + n) % len(lst)] = lst[i]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
rotation_count = 2
result = rotate_list_without_slicing(my_list, rotation_count)
print(result)

[4, 5, 1, 2, 3]

17.Python program to print the patterns given below:
    
i)  1
    1 1
    1 2 1
    1 3 3 1
    1 4 6 4 1
    1 5 10 10 5 1
    1 6 15 20 15 6 1

In [102]:
def print_pattern(rows):
    for i in range(0, rows):
        for j in range(0, i + 1):
            # Calculate the binomial coefficient (n choose k)
            coefficient = 1
            if j > 0 and j < i:
                coefficient = coefficient * (i - j + 1) // j
            print(coefficient, end=" ")
        print()

# Specify the number of rows for the pattern
rows = 7
print_pattern(rows)

1
1 1
1 2 1
1 3 1 1
1 4 1 0 1
1 5 2 1 0 1
1 6 2 1 0 0 1

In [ ]:
17 Python program to print the patterns given below:
2   *
    * *
    * * *
    * * * *
    * * * * *

In [103]:
n = 5  # Number of rows you want

for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
17 Python program to print the patterns given below:
                *
               * *
              * * *
             * * * *
            * * * * *
           * * * * * *
          * * * * * * *

In [106]:
rows = 7  

for i in range(1, rows + 1):

    for j in range(rows - i):
        print(" ", end="")

    for k in range(i):
        print("*", end=" ")

    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [ ]:
17 Python program to print the patterns given below:
4  p
   py
   pyt
   pyth
   pytho
   python

In [105]:
word = "python"

for i in range(1, len(word) + 1):
    print(word[:i])

p
py
pyt
pyth
pytho
python